.homeDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customRoundedInput:focus {
    border-color: var(--bs-primary); /* Bootstrap primary color */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Bootstrap-like focus shadow */
    outline: none; /* Remove default outline */
  }