html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root div takes full height and width */
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}